body {
    background: rgba(206, 162, 162, 0.616);
}

#copyright {
    text-align: center;
    color: gray
}

#essentials {
    text-align: center;
    font-size: 20px;
}

#Title {
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 50px
}

#about{
    font-size: 25px;
    text-align: center;
}

#computer {
    text-align: left;
}

#scramble-exeplained {
    font-size: 25px;
    padding-block: 10px;
}

#scramble {
    font-size: 25px;
    padding-block: 10px;
}

#scramble-placment {
    padding-top: 20px;
    text-align: center;
}

#scramble-button {
    padding-block: 10px;
}

#buttons-stopwatch {
    width: 150px;
    height: 45px;
    border: 3px soldi white;
    border-radius: 50px;
    background: #202020;
    font-size: 20px;
    color: white;
    cursor: pointer;
    outline: none;
}

#stopwatch {
    text-align: center;
    font-size: 100px;
}

#buttons li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

#buttons {
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
}

#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
#list {
    float: left;
}

#list #button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#list #button:hover {
    background-color: #111;
}